@import '../../sassStyles/variables';

.text-link {
    color: inherit; 
    text-decoration:  inherit;
}

ul {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

li {
    display: inline-flex;    
    padding-right: 1rem;    

}

li:hover {
    color: $hover-color;
    
}