h1 {
    font-size: xx-large;
    font-weight: 300;
    font-family: Inter, Geneva, Tahoma, sans-serif;
    height: min-content;
    line-height: 0px;
    margin: 0px;
}
li {
    font-family: Inter, Helvetica, sans-serif;
    font-size: larger;
    
}