h1 {
    font-size: 3em;
    font-weight: 800;
    font-family: Inter , Geneva, Tahoma, sans-serif;
    height: min-content;
    line-height: 0px;
    margin: 0px;
}
h2 {
    font-size: xx-large;
    font-weight: 800;
    font-family: Inter , Geneva, Tahoma, sans-serif;
    height: min-content;
    line-height: 0px;
    margin: 0px;
}
h3 {
    font-size: xx-large;
    font-weight: 350;
    font-family: Inter , Geneva, Tahoma, sans-serif;
    height: min-content;
    line-height: 0px;
    margin: 0px;
}
h4 {
    font-size: x-large;
    font-weight: 350;
    font-family: Inter , Geneva, Tahoma, sans-serif;
    height: min-content;
    line-height: 0px;
    margin: 0px;
}
p {
    font-size: medium;
    font-weight: 400;
    font-family: Inter , Geneva, Tahoma, sans-serif;
    height: min-content;
    line-height: 0px;
    margin: 0px;
}
li {
    font-family: Inter, Helvetica, sans-serif;
    font-size: larger;
    
}